* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*& estilo nav bar */
.navBar{
    background-color: #ee8481;
    width: 100%;
    height: 80px;
}

.logo {
    position: absolute;
    padding: 20px 50px;
}

.logo:hover {
    transform: scale(1.1);
}

.logo__img {
    height: 40px;/*& centrado 40 + 20 padding */
}

.navBar ul {
    float: right;
    list-style: none;
    margin-right: 30px;
}

.navBar ul a {
    text-decoration: none;
    color: #7a201d;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 5px;;
}

.nav__links.active a,
.nav__links a:hover {
    color: #EE8481;
    background-color: #6B3B3A;
    transition: .4s ease;
}

.navBar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

.navbar bg-body-tertiary fixed-top{
    display: none;
}
/*& estilo section */
.carousel-size{
    object-fit: cover;
    height: 75vh;
    z-index: -1;
}
/*& comienzo estilo footer */
footer{
    height: 25vh;
    background-color: #ee8481;
}
 /*& version tablets */
@media(max-width:900px) {
    .navbar bg-body-tertiary fixed-top{
        display: none;
    }
        .logo {
        padding-left: 15px;
    }

    .navBar ul a {
        text-decoration: none;
        color: #7a201d;
        font-size: 15px;
        text-transform: uppercase;
        border-radius: 6px;
        padding: 5px;
    }
}
 /*& version Mobile */
@media(max-width:570px) {

.navBar{
    display: none;
}
}